h3 {
    margin: 0px
}

nav {
    display: flex;
    align-items: start;
    border-bottom: 1px solid gainsboro;
    width: 100%;
    background: white;
    height: 7vh;
}

nav div {
    width: fit-content; border-right: 1px solid gainsboro;
    background: white;
    padding: 0.6rem;
}

#dashboard-layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#cards { /*dashboard column 2*/
    background: blue;
}

#cards-grid {
    background: green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.hashtag {
    display: inline-block;
    background: pink;
    border-radius: 1rem; padding: 0.2rem 0.6rem;
    margin: 0px;
}