
#forms { /*dashboard column 1*/
    background: red;
}
#forms div:first-of-type {
    display: flex
}

#forms input {
    display: inline;
    width: 63%
}

#forms label {
    display: inline-block;
    width: 33%
}
#forms button {
    width: 50%; 
    background: blue;
    padding: 0.5rem;
    margin: 0.5rem;
}
