nav {
    display: flex;
    align-items: start;
    border-bottom: 1px solid gainsboro;
    width: 100%;
    background: white;
}

nav div {
    width: fit-content; border-right: 1px solid gainsboro;
    background: white;
    padding: 0.6rem;
}

#dashboard-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#forms { /*dashboard column 1*/
    background: red;
}
#forms div:first-of-type {
    display: flex
}

#forms input {
    min-width: 66%
}

#forms label {
    min-width: 33%
}
#forms button {
    width: 50%; 
    background: blue;
}

#cards { /*dashboard column 2*/
    background: blue;
}

#cards-grid {
    background: green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background: yellow
}